<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 position-sticky bd-subnavar">
        @*<div class="container-fluid">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <ul class="navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>*@
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Usuario", null, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                    }
                    <li>@Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Home/Logout">Cerrar Sesion</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid dropdown h-100 bg-black bg-opacity-10 back-img">
        <div class="container-fluid position-sticky">
            @RenderBody()

        </div>
        @*<hr />
            <footer>
                <p class="m-0">&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>*@


    </div>

    <div class="position-relative">
        <div class="container-fluid bg-light text-center p-3">
            <p style="line-height: 25%" class="small">&copy; Agencia de Regulación y Control Hidrocarburífero La Armenia - Conocoto - Pichincha - Ecuador
            <p style="line-height: 25%">La Armenia - Conocoto - Pichincha - Ecuador</p>
            <p style="line-height: 25%">Teléfono: (593-2) 3996 500</p>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
