
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bd-navbar">

        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="~/Images/icon.png" width="30" height="30"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <div class="col align-self-start">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.Name.Contains('@'))
                            {
                                <li>@Html.ActionLink("Inicio", "Index", "Usuario", null, new { @class = "nav-link" })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Inicio", "Index", "Empleados", null, new { @class = "nav-link" })</li>
                            }

                        }
                        else
                        {
                            <li>@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                        }
                        <li>@Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    </ul>
                </div>
                <div class="align-self-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-link">@User.Identity.Name</li>
                            <li><a href="/Home/Logout" class="nav-link">Cerrar Sesion</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid dropdown h-100 bg-black bg-opacity-10 back-img">
        <div class="container-fluid position-sticky p-0">
            @RenderBody()
        </div>
    </div>

    <div class="position-relative">
        <div class="container-fluid bg-light text-center p-3">
            <p style="line-height: 25%" class="small">&copy; Agencia de Regulación y Control Hidrocarburífero La Armenia - Conocoto - Pichincha - Ecuador
            <p style="line-height: 25%">La Armenia - Conocoto - Pichincha - Ecuador</p>
            <p style="line-height: 25%">Teléfono: (593-2) 3996 500</p>
        </div>
    </div>

    <script src="~/Content/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>